backend:
  name: git-gateway
  branch: main

media_folder: "assets/uploads"
public_folder: "/assets/uploads"

collections:
  - name: "products"
    label: "Products"
    files:
      - name: "catalog"
        label: "Catalog Data"
        file: "data/catalog.json"
        format: "json"
        fields:
          - label: "Categories"
            name: "categories"
            widget: "list"
            fields:
              - { label: "ID", name: "id", widget: "string" }
              - { label: "Title", name: "title", widget: "string" }
              - { label: "Description", name: "desc", widget: "text", required: false }
              - label: "Items"
                name: "items"
                widget: "list"
                fields:
                  - { label: "Name", name: "name", widget: "string" }
                  - { label: "Use", name: "use", widget: "text", required: false }
                  - { label: "Image", name: "img", widget: "image", required: false }
